{
  "extends": [
    "tough/config/common",
    "tough/config/node",
    "tough/config/esnext",
    "tough/config/react"
  ],
  "settings": {
    "import/resolver": "webpack"
  },
  "rules": {
    "jsx-quotes": [2, "prefer-single"],
    "react/prefer-stateless-function": [0]
  }
}